<h6 class="text-center">Sitio Registrado</h6><br/>
<table class="table table-sm table-hover">
  <tr *ngFor="let employee of employeeList">
      <td>{{employee.nombre}}</td>
      <td>{{employee.estado}}</td>
      <td>
        <a class="btn" (click)="onEdit(employee)">
          <i class="fa fa-pencil-square-o"></i>
        </a>
        <a class="btn" (click)="onDelete(employee.$key)">
          <i class="fa fa-trash-o"></i>
        </a>
      </td>
  </tr>
</table>