<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="employeeService.selectedEmployee.$key">
  <div class="form-group">
    <label>Nombre</label>
    <input class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="employeeService.selectedEmployee.nombre" placeholder="Nombre del lugar" required>
  </div>
  <div class="form-group">
    <label>Resumen</label>
    <input class="form-control" name="resumen" #resumen="ngModel" [(ngModel)]="employeeService.selectedEmployee.resumen" placeholder="Resumen del lugar">
  </div>
  <div class="form-group">
    <label>Descripción</label>
    <textarea class="form-control" name="descripcion" #descripcion="ngModel" [(ngModel)]="employeeService.selectedEmployee.descripcion" placeholder="Descripcion en HTML" cols="3" rows="5"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Estado</label>
    <select class="form-control" name="estado" #estado="ngModel" [(ngModel)]="employeeService.selectedEmployee.estado">
      <option value="Aguascalientes">Aguascalientes</option>
      <option value="Baja California">Baja California</option>
      <option value="Baja California Sur">Baja California Sur</option>
      <option value="Campeche">Campeche</option>
      <option value="Coahuila de Zaragoza">Coahuila de Zaragoza</option>
      <option value="Colima">Colima</option>
      <option value="Chiapas">Chiapas</option>
      <option value="Chihuahua">Chihuahua</option>
      <option value="Ciudad de México" selected>Ciudad de México</option>
      <option value="Durango">Durango</option>
      <option value="Guanajuato">Guanajuato</option>
      <option value="Guerrero">Guerrero</option>
      <option value="Hidalgo">Hidalgo</option>
      <option value="Jalisco">Jalisco</option>
      <option value="México">México</option>
      <option value="Michoacán de Ocampo">Michoacán de Ocampo</option>
      <option value="Morelos">Morelos</option>
      <option value="Nayarit">Nayarit</option>
      <option value="Nuevo León">Nuevo León</option>
      <option value="Oaxaca">Oaxaca</option>
      <option value="Puebla">Puebla</option>
      <option value="Querétaro">Querétaro</option>
      <option value="Quintana Roo">Quintana Roo</option>
      <option value="San Luis Potosí">San Luis Potosí</option>
      <option value="Sinaloa">Sinaloa</option>
      <option value="Sonora">Sonora</option>
      <option value="Tabasco">Tabasco</option>
      <option value="Tamaulipas">Tamaulipas</option>
      <option value="Tlaxcala">Tlaxcala</option>
      <option value="Veracruz de Ignacio de la Llave">Veracruz de Ignacio de la Llave</option>
      <option value="Yucatán">Yucatán</option>
      <option value="Zacatecas">Zacatecas</option>
    </select>
  </div>
  <div class="form-group">
    <label>Latitud</label>
    <input class="form-control" name="latitud" #latitud="ngModel" [(ngModel)]="employeeService.selectedEmployee.latitud" placeholder="Latitud (Ejemplo: 50.19864)">
  </div>
  <div class="form-group">
    <label>Longitud</label>
    <input class="form-control" name="longitud" #longitud="ngModel" [(ngModel)]="employeeService.selectedEmployee.longitud" placeholder="Longitud (Ejemplo: -10.19864)">
  </div>
  <div class="form-group">
    <label>Lenguaje</label>
    <select class="form-control" name="lenguaje" #lenguaje="ngModel" [(ngModel)]="employeeService.selectedEmployee.lenguaje">
      <option value="mx" selected>Español</option>
      <option value="en">Inglés</option>
      <option value="fr">Francés</option>
    </select>
  </div>
  <div class="form-group">
    <label>Categoría</label>
    <select class="form-control" name="categoria" #categoria="ngModel" [(ngModel)]="employeeService.selectedEmployee.categoria">
      <option value="Atracciones" selected>Atracciones</option>
      <option value="Comida">Comida</option>
      <option value="Entretenimiento">Entretenimiento</option>
      <option value="Transporte">Transporte</option>
      <option value="Hoteles">Hoteles</option>
    </select>
  </div>
  <div class="form-group">
    <label>Dirección completa</label>
    <input class="form-control" name="direccion" #direccion="ngModel" [(ngModel)]="employeeService.selectedEmployee.direccion" placeholder="Avenida Te 226 Granjas">
  </div>
  <div class="form-group">
    <label>Puntuacion</label>
    <input class="form-control" type="number" min="0" max="5" name="puntuacion" #puntuacion="ngModel" [(ngModel)]="employeeService.selectedEmployee.puntuacion" placeholder="Ejemplo: 4">
  </div>
  <div class="form-group">
    <label>Imagen principal</label>
    <input class="form-control" name="img" #img="ngModel" [(ngModel)]="employeeService.selectedEmployee.img" placeholder="URL Imagen principal">
  </div>
  <div class="form-group">
    <label>Galeria</label>
    <input class="form-control" name="galeria" #galeria="ngModel" [(ngModel)]="employeeService.selectedEmployee.galeria" placeholder="URL Imagen principal separadas con | sin espacios">
  </div>
  <div class="form-group">
    <button class="btn btn-default" type="submit" [disabled]="!employeeForm.valid">
      <i class="fa fa-floppy-o"></i>
       Registrar</button>
    <button class="btn btn-default" type="button" (click)="resetForm(employeeForm)">
      <i class="fa fa-repeat"></i>
       Reset</button>
  </div>
</form>